*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: purple;
}

.container{
    width: 600px;
    height: auto;
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px; */
    /* grid-template: 200px 200px / 100px 100px 100px; */
    /* grid-template: 200px 200px / 1fr 1fr 1fr; */
    grid-template: repeat(2,200px) / 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 20px;
}

.kutu1{
    background-color: red;
}

.kutu2{
    background-color: blue;
}

.kutu3{
    background-color: yellow;
}

.kutu4{
    background-color: pink;
}

.kutu5{
    background-color: green;
}

.kutu6{
    background-color: black;
}